.container{
  width: 100%;
}
.header{
  text-align: center;

}
.form-container{
  max-width: 800px;
  width: 100%;
  margin: auto;
  
}
.input-div{
  display: flex;
  justify-content: space-between;
  /* background-color: green; */
}
.input-div > div{
  flex: 1;
  padding: 4px;
}
input{
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
form{
  background-color:  #E5E5E5;
}